<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title || 'DZ64' %></title>
    <link rel="stylesheet" href="/public/css/app.css">
  </head>
  <body class="ui">
    <%- include('partials/header') %>
    <main class="container">
      <h1>MongoDB Atlas + Passport</h1>
      <p>Це головна сторінка. Перейдіть до <a href="/articles">/articles</a>, щоб побачити читання з БД.</p>
    </main>
    <script src="/public/js/auth.js"></script>
  </body>
</html>
