doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{title || 'Сторінка'}
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="icon", href="/favicon.ico")
    link(rel="stylesheet", href="/public/css/desktop.css")
    link(rel="stylesheet", href="/public/css/mobile.css", media="(max-width: 767px)")
    if theme === 'dark'
      link(rel="stylesheet", href="/public/css/dark.css")
  body.ui
    header.classy-header
      .classy-header__inner
        .header-tools
          span.badge Тема: #{theme}
          a.header-link(href="/theme/light") Світла
          a.header-link(href="/theme/dark") Темна
          if isAuth
            span.badge.is-ok JWT: увійшли
            a.header-link(href="/profile") Профіль
            a.header-link(href="/logout") Вийти
          else
            span.badge.is-warn JWT: гість
          span.badge Паспорт: #{passportAuth ? 'увійшли' : 'гість'}
          if passportAuth
            a.header-link(href="/profile_passport") Профіль (Passport)
            a.header-link(href="/auth/logout") Вийти (Passport)
          else
            a.header-link(href="/articles#passport") Увійти (Passport)
        a.classy-header__brand(href="/")
          img(src="/public/img/logo.svg", alt="UA‑Motors", width="120", height="28")
        nav.classy-header__nav
          a.classy-header__link(href="/users") Користувачі (PUG)
          a.classy-header__link(href="/articles") Статті (EJS)
    main.container
      block content
    footer.footer
      p.footer__p © #{new Date().getFullYear()} UA‑Motors
